<div class="flex justify-center md:justify-start items-start mb-4">
  <div class="border-4 border-red-600 text-red-600 px-6 py-2 rounded-lg transform rotate-12">
    <span class="text-3xl font-bold tracking-widest">Entregado</span>
  </div>
</div>