<nav class="border-pantone-130c bg-pantone-286c dark:bg-gray-800 dark:border-gray-700">

  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-2">
    <ion-buttons slot="start" class="text-white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1 class="font-semibold text-slate-200 text-xl ">{{title}}</h1>
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="assets/icon/USER.png" class="h-10" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"></span>
    </a>
  </div>

</nav>