<app-navbar [title]="title"></app-navbar>

<ion-content class="background">

  <div class="container mx-auto rounded-lg">
    <ion-card>
      <div class="grid grid-cols-2 items-center py-2 ion-padding-start ">
        <div class="flex items-center">
          <h1 class="text-xl font-semibold text-pantone-pro-black-c">Datos del vuelo</h1>
        </div>
        <div class="flex justify-end items-center ion-padding-end">
          <ion-button style="--background : var(--color-pantone-312c)" [routerLink]="['/form-retenidos']">
            Registrar nuevo objeto
          </ion-button>
        </div>
      </div>
    </ion-card>
    <ion-card style="--background-color: aquamarine;">
      <div class="ion-padding">
        <form (ngSubmit)="onSubmit()">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Company Input -->
            <div class="mb-4">
              <label for="compania" class="block text-sm font-medium text-gray-700">Compañia</label>
              <input type="text" id="compania" name="compania" [(ngModel)]="compania"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="compania" required />
              <!-- <divngIf="formulario.controls['vuelo'].invalid && formulario.controls['vuelo'].touched"
                              class="text-red-500 text-sm mt-1">
                              Este campo es obligatorio.
                            </divngIf=> -->
            </div>

            <!-- Date Input -->
            <div class="mb-4">
              <label for="date" class="block text-sm font-medium text-gray-700">Fecha de Vuelo</label>
              <input type="date" id="date" name="fechaVuelo" [(ngModel)]="fechaVuelo"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                required />
              <!-- <divngIf="formulario.controls['fechaVuelo'].invalid && formulario.controls['fechaVuelo'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </divngIf=> -->
            </div>

            <!-- Time Input -->
            <div class="mb-4">
              <label for="time" class="block text-sm font-medium text-gray-700">Hora de Vuelo</label>
              <div class="relative">
                <input type="time" id="time" name="horaVuelo" [(ngModel)]="horaVuelo"
                  class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                  min="09:00" max="18:00" required />
                <!-- <divngIf="formulario.controls['horaVuelo'].invalid && formulario.controls['horaVuelo'].touched"
                  class="text-red-500 text-sm mt-1">
                  Este campo es obligatorio.
                </divngIf=> -->
              </div>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <!-- Flight Input -->
            <div class="mb-4">
              <label for="vuelo" class="block text-sm font-medium text-gray-700">Vuelo</label>
              <input type="text" id="vuelo" name="vuelo" [(ngModel)]="vuelo"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Vuelo" required />
              <!-- <divngIf="formulario.controls['vuelo'].invalid && formulario.controls['vuelo'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </divngIf=> -->
            </div>

            <!-- Destination Input -->
            <div class="mb-4">
              <label for="destino" class="block text-sm font-medium text-gray-700">Destino</label>
              <input type="text" id="destino" name="destino" [(ngModel)]="destino"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Destino" required />
              <!-- <divngIf="formulario.controls['destino'].invalid && formulario.controls['destino'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </divngIf=> -->
            </div>

            <!-- Boarding Gate Select -->
            <div class="mb-4">
              <label for="estado" class="block text-sm font-medium text-gray-700">Estado</label>
              <select id="estado" name="estado" [(ngModel)]="estado"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500">
                <option value="true">Pendientes</option>
                <option value="false">Entregados</option>
              </select>
            </div>

            <!-- Boarding Gate Select -->
            <!-- <div class="mb-4">
              <label for="puenteEmb" class="block text-sm font-medium text-gray-700">Puerta de Embarque</label>
              <select id="puenteEmb" name="puenteEmb" [(ngModel)]="puenteEmb"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500">
                <option value="B1">B1</option>
                <option value="B2">B2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div> -->
          </div>
          @if(compania !== '' ||
          fechaVuelo !== '' ||
          horaVuelo !== '' ||
          vuelo!== '' ||
          destino !== '' ||
          estado !== '' ){

          <div class="text-right items-center">
            <button type="submit"
              class="inline-flex items-center px-6 py-3 text-base font-medium text-white bg-pantone-286c rounded-lg hover:bg-pantone-cool-gray focus:ring-4 focus:outline-none focus:ring-black-35">
              Limpiar campos
            </button>
          </div>
          }
        </form>
      </div>
    </ion-card>
    <div style="height: 1px; background-color: rgb(221, 214, 214);" class="w-full mt-6 mb-4"></div>
    <div class="flex items-center ion-padding-start ">
      <h1 class="text-xl font-semibold text-gray-900">Bandeja de entrada</h1>
    </div>
    <app-data-table [compania]="compania" [fechaVuelo]="fechaVuelo" [horaVuelo]="horaVuelo" [vuelo]="vuelo"
      [destino]="destino" [estado]="estado"></app-data-table>
  </div>

</ion-content>