<app-navbar [title]="title"></app-navbar>

<ion-content class="background">
  @if(obj){
  <div class="container mx-auto ion-padding-start ion-padding-end ion-padding-bottom  rounded-lg">
    <ion-card>
      <div class="grid grid-cols-2 items-center py-2 ion-padding">
        <div class="flex items-center">
          <ion-buttons>
            <ion-back-button style="--color : var(--color-pantone-312c)"
              defaultHref="/bandeja-entrada-retenidos"></ion-back-button>
          </ion-buttons>
        </div>
        <div>
          @if(!obj.estado){
          <div class="flex items-center justify-end">
            <ion-button (click)="exportPDF()" type="button" style="--background: var(--color-pantone-312c) ;"
              class=" rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
              <ion-icon class="w-20 h-6" name="download"></ion-icon>
            </ion-button>
          </div>
          }
          <!-- <div class="flex items-center justify-end">
            <ion-button id="open-qr" type="button" style="--background: var(--color-pantone-312c) ;"
              class=" rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
              <ion-icon class="w-20 h-6" name="qr-code"></ion-icon>
            </ion-button>
          </div> -->
        </div>
      </div>
    </ion-card>
    <ion-card class="ion-padding">
      <div class="text-left ion-padding-top ion-padding-bottom">
        <h1 class="text-xl font-semibold text-gray-900">Datos del vuelo</h1>
      </div>
      <form [formGroup]="formulario">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Company Input -->
          <div class="mb-4">
            <label for="compania" class="block text-sm font-medium text-gray-700">Compañía *</label>
            <input readonly type="text" id="compania" formControlName="compania"
              class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Compañía" required />
            <div *ngIf="formulario.controls['compania'].invalid && formulario.controls['compania'].touched"
              class="text-red-500 text-sm mt-1">
              Este campo es obligatorio.
            </div>
          </div>

          <!-- Date Input -->
          <div class="mb-4">
            <label for="date" class="block text-sm font-medium text-gray-700">Fecha
              *</label>
            <input readonly type="date" id="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="fecha"
              class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
              required />
          </div>

          <!-- Time Input -->
          <div class="mb-4">
            <label for="time" class="block text-sm font-medium text-gray-700">Hora *</label>
            <div class="relative">
              <input readonly type="time" id="time" formControlName="horaVuelo"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                min="09:00" max="18:00" required />
              <div *ngIf="formulario.controls['horaVuelo'].invalid && formulario.controls['horaVuelo'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>
          </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <!-- Flight Input -->
          <div class="mb-4">
            <label for="vuelo" class="block text-sm font-medium text-gray-700">Vuelo *</label>
            <input readonly type="text" id="vuelo" formControlName="vuelo"
              class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Vuelo" required />
            <div *ngIf="formulario.controls['vuelo'].invalid && formulario.controls['vuelo'].touched"
              class="text-red-500 text-sm mt-1">
              Este campo es obligatorio.
            </div>
          </div>

          <!-- Destination Input -->
          <div class="mb-4">
            <label for="destino" class="block text-sm font-medium text-gray-700">Destino *</label>
            <input readonly type="text" id="destino" formControlName="destino"
              class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
              placeholder="Destino" required />
            <div *ngIf="formulario.controls['destino'].invalid && formulario.controls['destino'].touched"
              class="text-red-500 text-sm mt-1">
              Este campo es obligatorio.
            </div>
          </div>

          <!-- Boarding Gate Select -->
          <div class="mb-4">
            <label for="puenteEmb" class="block text-sm font-medium text-gray-700">Puerta de Embarque</label>
            <input readonly id="puenteEmb" formControlName="puenteEmb"
              class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500">
          </div>
        </div>

        <div style="height: 1px; background-color: rgb(221, 214, 214);" class="w-full"></div>

        <div class="mt-6 mb-3">
          <h1 class="text-xl font-semibold text-gray-900">Registro</h1>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div class="space-y-4">
            <!-- Object Input -->
            <div>
              <label for="objeto" class="block text-sm font-medium text-gray-700">Objeto *</label>
              <input readonly type="text" id="objeto" formControlName="objeto"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Objeto" required />
              <div *ngIf="formulario.controls['objeto'].invalid && formulario.controls['objeto'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>

            <!-- Quantity and Model Inputs -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label for="number-input" class="block text-sm font-medium text-gray-700">Cantidad *</label>
                <input readonly type="number" id="number-input" formControlName="cantidad"
                  class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="Cantidad" required />
                <div *ngIf="formulario.controls['cantidad'].invalid && formulario.controls['cantidad'].touched"
                  class="text-red-500 text-sm mt-1">
                  Este campo es obligatorio.
                </div>
              </div>
              <div>
                <label for="modelo" class="block text-sm font-medium text-gray-700">Modelo *</label>
                <input readonly type="text" id="modelo" formControlName="modelo"
                  class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="Modelo" required />
                <div *ngIf="formulario.controls['modelo'].invalid && formulario.controls['modelo'].touched"
                  class="text-red-500 text-sm mt-1">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Seat and Particular Select -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label for="asiento" class="block text-sm font-medium text-gray-700">Asiento *</label>
                <input readonly type="text" id="asiento" formControlName="asiento"
                  class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="Asiento" required />
                <div *ngIf="formulario.controls['asiento'].invalid && formulario.controls['asiento'].touched"
                  class="text-red-500 text-sm mt-1">
                  Este campo es obligatorio.
                </div>
              </div>
              <div>
                <label for="particular" class="block text-sm font-medium text-gray-700">Particular *</label>
                <input readonly id="particular" formControlName="particular"
                  class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500">
              </div>
            </div>

            <!-- Ticket and Avsec Officer Select -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label for="ticket" class="block text-sm font-medium text-gray-700">Ticket *</label>
                <input readonly type="text" id="ticket" formControlName="ticket"
                  class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                  placeholder="Ticket" required />
                <div *ngIf="formulario.controls['ticket'].invalid && formulario.controls['ticket'].touched"
                  class="text-red-500 text-sm mt-1">
                  Este campo es obligatorio.
                </div>
              </div>
              <div>
                <label for="funcionario" class="block text-sm font-medium text-gray-700">Funcionario Avsec *</label>
                <input readonly id="funcionario" formControlName="funcionario"
                  class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500">

                <div *ngIf="formulario.controls['funcionario'].invalid && formulario.controls['funcionario'].touched"
                  class="text-red-500 text-sm mt-1">
                  Este campo es obligatorio.
                </div>
              </div>
            </div>

            <!-- Phone Number Input -->
            <div>
              <label for="numTel" class="block text-sm font-medium text-gray-700">Número Telefónico *</label>
              <input readonly type="text" id="numTel" formControlName="numTel"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Número Telefónico" required />
              <div *ngIf="formulario.controls['numTel'].invalid && formulario.controls['numTel'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>
          </div>

          <div class="space-y-4">
            <!-- Brand Input -->
            <div>
              <label for="marca" class="block text-sm font-medium text-gray-700">Marca *</label>
              <input readonly type="text" id="marca" formControlName="marca"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Marca" required />
              <div *ngIf="formulario.controls['marca'].invalid && formulario.controls['marca'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>

            <!-- Serial Input -->
            <div>
              <label for="serie" class="block text-sm font-medium text-gray-700">Serie *</label>
              <input readonly type="text" id="serie" formControlName="serie"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Serie" required />
              <div *ngIf="formulario.controls['serie'].invalid && formulario.controls['serie'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>

            <!-- Pax Input -->
            <div>
              <label for="pax" class="block text-sm font-medium text-gray-700">Pax *</label>
              <input readonly type="text" id="pax" formControlName="pax"
                class="mt-1 block w-full bg-gray-50 border border-gray-300 text-gray-900 rounded-lg p-2 focus:ring-blue-500 focus:border-blue-500"
                placeholder="Pax" required />
              <div *ngIf="formulario.controls['pax'].invalid && formulario.controls['pax'].touched"
                class="text-red-500 text-sm mt-1">
                Este campo es obligatorio.
              </div>
            </div>

            <!-- Signature -->
            <ion-card>
              <div class="grid grid-cols-1 gap-4">
                <label for="firma" class="block text-sm font-semibold text-gray-700">Firma usuario</label>
                <div>
                  <div class="flex justify-center items-center">
                    <img [src]="firma" alt="">
                  </div>
                </div>
              </div>
            </ion-card>
          </div>
        </div>
        @if(obj.estado){
        <div class="text-right mt-6">
          <app-swipe-button></app-swipe-button>
        </div>
        }@else{
        <app-stamp></app-stamp>
        }

      </form>
    </ion-card>
  </div>
  }
</ion-content>