<ion-row class="ion-marging">
  <ion-col [style.background-color]="'var(--color-pantone-' + color +')'">
    <div align="center">
      <h1 class="text-xl font-sans text-slate-50">
        {{text}}
      </h1>
    </div>
    <ion-fab-button #swipeButton color="light">
      <ion-icon class="left" name="chevron-forward-outline"></ion-icon>
      <ion-icon name="chevron-forward-outline"></ion-icon>
      <ion-icon class="right" name="chevron-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-col>
</ion-row>