ion-col {
    border-radius: 50px;
    display: flex;
    align-items: center;

    div{
        position: absolute;
        width: -webkit-fill-available;
    }

    ion-fab-button{
        position: relative;
        // transition: transform 0.3s ease;
        ion-icon{
            position: absolute;
        }
        .left{
            left: 0%;
            transform: translateX(3px);
        }
        .right{
            right: 0%;
            transform: translateX(-3px);
        }
    }
}