<!-- For camera -->
<ngx-scanner-qrcode isStart="true" #action="scanner" #scanner></ngx-scanner-qrcode>

<!-- data  -->
<span>{{ action.data.value | json }}</span><!-- value -->
<span>{{ action.data | async | json }}</span><!-- async -->

<!-- Loading -->
<p *ngIf="action.isLoading">⌛ Loading...</p>

<!-- start -->
<ion-button (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' :
    'Start'}}</ion-button>