.container {
  padding-top: 30px;
  .img-home{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      border-bottom: 10%;
    }
    
  
  }
}

ion-button,
ion-item {
  width: 100%;
  --border-radius: 10px;
  --background: #085394;
  --color: white;

  ion-icon {
    color: white;
  }

  p {
    width: 100%;
    text-align: center;
  }
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;

}

